<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hacker News Demo</title>
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">	
	<script src="assets/angular/angular.min.js"></script>
	<script src="assets/angular/angular-sanitize.js"></script> 	
	
	<script src="app/app.js"></script>	
	

  </head>

  <body ng-app="hackerNewsDemoApp" ng-controller="storiesController" ng-cloak>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <tag class="navbar-brand"><b>Hacker News Demo</b> | by Anas Jafry</tag>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
	  
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4" style="padding-top: 32px">
		
		  <h5 class="card-header storyHead" ng-class='{activeType: storyFilterType =="TOP"}' ng-click="setFilter('TOP')">Top Stories</h5>
		  <h5 class="card-header storyHead" ng-class='{activeType: storyFilterType =="BEST"}' ng-click="setFilter('BEST')">Best Stories</h5>
		  <h5 class="card-header storyHead" ng-class='{activeType: storyFilterType =="NEW"}' ng-click="setFilter('NEW')">New Stories</h5>
		  

        </div>	  

        <!-- Post Content Column -->
        <div class="col-lg-8">

		
		<div ng-if="!isViewing">
		
		
			<!-- List of Posts -->
			<h1 class="storyMainTitle">{{storyFilterType}} Stories</h1>	
			<hr>
			
			<div class="myStory" ng-click="viewStory(item)" ng-repeat="item in stories">
			  <p class="storyTitle">{{item.detail.title}}</p>
			  <p class="storyTime">Posted on {{item.stdtime}}</p>
			  <p class="lead">{{item.detail.url}}</p>
				<hr>
			</div>
			
			<button ng-if="moreflag" type="button" class="btn btn-info resetViewButton" ng-click="loadmore()">More</button>
		
			
		</div>
		
		
		
		
		<div ng-if="isViewing">
			
			  <!-- Title -->
			  <button type="button" class="btn btn-info resetViewButton" ng-click="resetView()">Close</button>
			  <h1 class="mt-4">{{viewContent.detail.title}}</h1>

			  <!-- Author -->
			  <p class="lead">
				by <t>{{viewContent.detail.by}}</t>
			  </p>

			  <hr>

			  <!-- Date/Time -->
			  <p>Posted on {{viewContent.stdtime}}</p>

			  <hr>
			  <!-- Post Content -->
			  <a ng-href="{{viewContent.detail.url}}">{{viewContent.detail.url}}</a>

			  <hr>


			  <!-- Single Comment -->
			  <div class="media mb-4" ng-repeat="item in comments">
				<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
				<div class="media-body">
				  <h5 class="mt-0">{{item.detail.by}}</h5>
				  <p>{{item.stdtime}}</p>
				  <p ng-bind-html="item.detail.text"></p>
				</div>
			  </div>

			</div>
		</div>



      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
