<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HackerNews Demo</title>
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">	
	<script src="assets/angular/angular.min.js"></script>	
	
	<script src="app/app.js"></script>	
	

  </head>

  <body ng-app="hackerNewsDemoApp" ng-controller="storiesController" ng-cloak>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <tag class="navbar-brand">Hacker News Demo</tag>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
	  
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4" style="padding-top: 32px">
		
		  <h5 class="card-header storyHead" ng-class='{activeType: storyFilterType =="TOP"}' ng-click="setFilter('TOP')">Top Stories</h5>
		  <h5 class="card-header storyHead" ng-class='{activeType: storyFilterType =="BEST"}' ng-click="setFilter('BEST')">Best Stories</h5>
		  <h5 class="card-header storyHead" ng-class='{activeType: storyFilterType =="NEW"}' ng-click="setFilter('NEW')">New Stories</h5>
		  

        </div>	  

        <!-- Post Content Column -->
        <div class="col-lg-8">

		
		<div ng-if="!isViewing">
		
		
			<!-- List of Posts -->
			<h1 class="storyMainTitle">{{storyFilterType}} Stories</h1>	
			<hr>
			
			<div class="myStory" ng-click="viewStory()">
			  <p class="storyTitle">This is  stry head</p>
			  <p class="storyTime">Posted on January 1, 2017 at 12:00 PM</p>
			  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
				<hr>
			</div>
			
			
		</div>
		
		
		
		
		<div ng-if="isViewing">
			
			  <!-- Title -->
			  <button type="button" class="btn btn-info resetViewButton" ng-click="resetView()">Close</button>
			  <h1 class="mt-4">Post Title</h1>

			  <!-- Author -->
			  <p class="lead">
				by
				<a href="#">Start Bootstrap</a>
			  </p>

			  <hr>

			  <!-- Date/Time -->
			  <p>Posted on January 1, 2017 at 12:00 PM</p>

			  <hr>

			  <!-- Preview Image -->
			  <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

			  <hr>

			  <!-- Post Content -->
			  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>

			  <hr>


			  <!-- Single Comment -->
			  <div class="media mb-4">
				<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
				<div class="media-body">
				  <h5 class="mt-0">Commenter Name</h5>
				  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			  </div>

			  <!-- Comment with nested comments -->
			  <div class="media mb-4">
				<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
				<div class="media-body">
				  <h5 class="mt-0">Commenter Name</h5>
				  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

				  <div class="media mt-4">
					<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
					<div class="media-body">
					  <h5 class="mt-0">Commenter Name</h5>
					  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
				  </div>

				  <div class="media mt-4">
					<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
					<div class="media-body">
					  <h5 class="mt-0">Commenter Name</h5>
					  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
				  </div>

				</div>
			  </div>

			</div>
		</div>



      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark" style="position: fixed; bottom: 0; width: 100%">
      <div class="container">
        <p class="m-0 text-center text-white">Demonstrated by <b>Anas Jafry</b></p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
